#header {
    background: #14A098;
    text-align: center;
    font-size: 36px;
    border: 1px solid #0F292F;
    margin-bottom: 20px;
}

.task-input-section #notify-empty-list {
    color: gray;
    font-style: italic;
}

.task-list .list-item {
    color: #33266E;
    font-size: 18px;
}

.task-list .list-item.task-completed {
    color: #14A098;
    text-decoration: line-through;
}